/*!
 * AdminUI v1.0 (http://adminui-v1.0.bittyfox.com/)
 * Copyright AdminUI Company &copy; 2017 
 * 
 */

/*------------------------------------------------

search result page

-------------------------------------------------*/


.search-result {
    display: inline-block;
}

.search-result h3 a {
    color: #337ab7;
}

.search-result h3  {
   margin-bottom: 5px;
}

.search-result .sub-d{
  font-size: 14px;
  color: #ccc;
}