<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row wrapper border-bottom page-heading">
                <div class="col-lg-12">
                    <h3>Order Entry</h3>
                    <ol class="breadcrumb">
                        <li> <a ui-sref="home">Home</a> </li>
                        <li> <a>Deliver Dispatch</a> </li>
                        <li class="active"> <strong>Delivery</strong> </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="widgets-container col-lg-12">
                                <form name="deliveryForm" ng-submit="this[buttons.method]()">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Order Number</label>
                                                <input type="text" class="form-control" name="orderNo" placeholder="Enter Order Number" ng-model="delivery.orderNo">
                                                <center ng-show="submitted && deliveryForm.orderNo.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                            <div class="form-group">
                                                <label>Total Amount</label>
                                                <input type="number" class="form-control" name="totalAmount" placeholder="Enter Total Amount" ng-model="delivery.totalAmount">
                                                <center ng-show="submitted && deliveryForm.totalAmount.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Addition 1</label>
                                                <input type="text" class="form-control" name="addition1" placeholder="Enter Addition 1" ng-model="delivery.addition1">
                                                <center ng-show="submitted && deliveryForm.addition1.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                            <div class="form-group">
                                                <label>Addition 2</label>
                                                <input type="text" class="form-control" name="addition2" placeholder="Enter Addition 2" ng-model="delivery.addition2">
                                                <center ng-show="submitted && deliveryForm.addition2.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Discount 1</label>
                                                <input type="text" class="form-control" name="discount1" placeholder="Enter Discount 1" ng-model="delivery.discount1">
                                                <center ng-show="submitted && deliveryForm.discount1.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                            <div class="form-group">
                                                <label>Discount 2</label>
                                                <input type="text" class="form-control" name="discount2" placeholder="Enter Discount 2" ng-model="delivery.discount2">
                                                <center ng-show="submitted && deliveryForm.discount2.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Tax Amount</label>
                                                <input type="text" class="form-control" name="taxAmount" placeholder="Enter Tax Amount" ng-model="delivery.taxAmount">
                                                <center ng-show="submitted && deliveryForm.taxAmount.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                            <div class="form-group">
                                                <label>Net Amount</label>
                                                <input type="text" class="form-control" name="netAmount" placeholder="Enter Net Amount" ng-model="delivery.netAmount">
                                                <center ng-show="submitted && deliveryForm.netAmount.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Instruction</label>
                                                <textarea class="form-control" name="instruction" rows="4" placeholder="Enter Instruction" ng-model="delivery.instruction" ng-required="true"></textarea>
                                                <center ng-show="submitted && deliveryForm.instruction.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Billing Address</label>
                                                <textarea class="form-control" name="billingAddress" rows="4" placeholder="Enter Billing Address" ng-model="delivery.billingAddress" ng-required="true"></textarea>
                                                <center ng-show="submitted && deliveryForm.billingAddress.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Shipping Address</label>
                                                <textarea class="form-control" name="shippingAddress" rows="4" placeholder="Enter Shipping Address" ng-model="delivery.shippingAddress" ng-required="true"></textarea>
                                                <center ng-show="submitted && deliveryForm.shippingAddress.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Round Off</label>
                                                <input type="number" class="form-control" name="roundOff" placeholder="Enter Round Off" ng-model="delivery.roundOff">
                                                <center ng-show="submitted && deliveryForm.roundOff.$error.required"><p class="help-block text-navy">This is required field</p></center>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-round btn-danger" ng-click="cancel()"> Cancel </button>
                                        <button type="submit" class="btn btn-round btn-success" ng-click="submitted=true"> {{buttons.title}} </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="widgets-container col-lg-12">
                                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Order No</th>
                                            <th>Total Amount</th>
                                            <th>Tax Amount</th>
                                            <th>Net Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ds in deliveries">
                                            <td>{{ ds.orderNo }}</td>
                                            <td>{{ ds.totalAmount }}</td>
                                            <td>{{ ds.taxAmount }}</td>
                                            <td>{{ ds.netAmount }}</td>
                                            <td>
                                                <button class="btn btn-outline btn-round btn-sm purple" ng-click="editDelivery(ds)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button  class="btn btn-outline btn-round dark btn-sm black" ng-click="deleteDelivery(ds._id)">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>