<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row wrapper border-bottom page-heading">
                <div class="col-lg-12">
                    <h3>Party - Ledger</h3>
                    <ol class="breadcrumb">
                        <li> <a ui-sref="home">Home</a> </li>
                        <li> <a>Master</a> </li>
                        <li> <a ui-sref="master.party">Party - Ledger</a> </li>
                        <li class="active"> <strong>Add Party - Ledger</strong> </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper-content ">
                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="widgets-container col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Party Name</label>
                                                <input type="text" class="form-control" placeholder="Enter Party Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Mail Id</label>
                                                <input type="text" class="form-control" placeholder="Enter Mail Id">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Phone Number 1</label>
                                                <input type="text" class="form-control" placeholder="Enter Phone Number">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Phone Number( SMS )</label>
                                                <input type="text" class="form-control" placeholder="Enter Phone Number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>GSTIN</label>
                                                <input type="text" class="form-control" placeholder="Enter GSTIN">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Pan Number</label>
                                                <input type="text" class="form-control" placeholder="Enter Pan Number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Area</label>
                                                <select class="form-control">
                                                    <option selected disabled>Select Area</option>
                                                    <option>Area 1</option>
                                                    <option>Area 2</option>
                                                    <option>Area 3</option>
                                                    <option>Area 4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <select class="form-control">
                                                    <option selected disabled>Select State</option>
                                                    <option>State 1</option>
                                                    <option>State 2</option>
                                                    <option>State 3</option>
                                                    <option>State 4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <textarea class="form-control" rows="5" placeholder="Enter Address"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Postal Address</label>
                                                <textarea class="form-control" rows="5" placeholder="Enter Postal Address"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="widgets-container col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Contact Person</label>
                                                <input type="text" class="form-control" placeholder="Enter Contact Person">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Credit Limit</label>
                                                <input type="number" class="form-control" placeholder="Enter Credit Limit">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Line</label>
                                                <select class="form-control">
                                                    <option selected disabled>Select Line</option>
                                                    <option>Line 1</option>
                                                    <option>Line 2</option>
                                                    <option>Line 3</option>
                                                    <option>Line 4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Transport</label>
                                                <select class="form-control">
                                                    <option selected disabled>Select Transport</option>
                                                    <option>Transport 1</option>
                                                    <option>Transport 2</option>
                                                    <option>Transport 3</option>
                                                    <option>Transport 4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Courier Type(professional, jet, postal)</label>
                                                <input type="text" class="form-control" placeholder="Enter Courier Type">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Booking Place</label>
                                                <input type="text" class="form-control" placeholder="Enter Booking Place">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Delivery Days</label>
                                                <input type="number" class="form-control" placeholder="Delivery Days">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Discounts</label>
                                                <input type="number" class="form-control" placeholder="Enter Discounts">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Discount Remove Date</label>
                                                <div class="input-group date">
                                                    <input type="datetime" class="form-control" date-time view="date" auto-close="true" min-view="date" format="YYYY-MM-DD" ng-model="discountRemoveDate">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Discount Date</label>
                                                <div class="input-group date">
                                                    <input type="datetime" class="form-control" date-time view="date" auto-close="true" min-view="date" format="YYYY-MM-DD" ng-model="discountDate">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Purchase Commission</label>
                                                <input type="text" class="form-control" placeholder="Enter Purchase Commission">
                                            </div>
                                            <div class="form-group">
                                                <label>Status</label>
                                                <input type="text" class="form-control" placeholder="Enter Status">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Special Remarks</label>
                                                <textarea class="form-control" rows="5" placeholder="Enter Special Remarks"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-round btn-lg btn-danger" ng-click="cancel()"> Cancel </button>
                            <button class="btn btn-round btn-lg btn-success" ng-click="save()"> Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>