<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row wrapper border-bottom page-heading">
                <div class="col-lg-12">
                    <h3>Area</h3>
                    <ol class="breadcrumb">
                        <li> <a ui-sref="home">Home</a> </li>
                        <li> <a>Master</a> </li>
                        <li class="active"> <strong>Area</strong> </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="widgets-container col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Line</label>
                                            <select class="form-control" name="line" ng-model="area.line">
                                                <option value disabled selected>Select Line Name</option>
                                                <option ng-repeat="line in lines" value="{{line._id}}">{{line.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Area Code</label>
                                            <input type="text" class="form-control" placeholder="Enter Area Code" ng-model="area.code">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Area Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Area Name" ng-model="area.name">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="btn btn-round btn-danger" style="margin-top: 24px;" ng-click="cancel()"> Cancel </button>
                                        <button class="btn btn-round btn-success" style="margin-top: 24px;" ng-click="this[buttons.method]()"> {{buttons.title}} </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="widgets-container col-lg-12">
                                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Line Code</th>
                                            <th>Area Code</th>
                                            <th>Area Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ara in areas">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ ara.line.name }}</td>
                                            <td>{{ ara.code }}</td>
                                            <td>{{ ara.name }}</td>
                                            <td>
                                                <button class="btn btn-outline btn-round btn-sm purple" ng-click="editArea(ara)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button  class="btn btn-outline btn-round dark btn-sm black" ng-click="deleteArea(ara._id)">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>