<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row wrapper border-bottom page-heading">
                <div class="col-lg-12">
                    <h3>Transport</h3>
                    <ol class="breadcrumb">
                        <li> <a ui-sref="home">Home</a> </li>
                        <li> <a>Master</a> </li>
                        <li class="active"> <strong>Transport</strong> </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="widgets-container col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Transport Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Transport Name" ng-model="transport.name">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Phone 1</label>
                                            <input type="number" class="form-control" placeholder="Enter Phone 1" min="1" ng-model="transport.phone1">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Phone 2</label>
                                            <input type="number" class="form-control" placeholder="Enter Phone 2" min="1" ng-model="transport.phone2">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="btn btn-round btn-danger" style="margin-top: 24px;" ng-click="cancel()"> Cancel </button>
                                        <button class="btn btn-round btn-success" style="margin-top: 24px;" ng-click="this[buttons.method]()"> {{buttons.title}} </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="widgets-container col-lg-12">
                                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Transport Name</th>
                                            <th>Phone 1</th>
                                            <th>Phone 2</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="tps in transports">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ tps.name }}</td>
                                            <td>{{ tps.phone1 }}</td>
                                            <td>{{ tps.phone2 }}</td>
                                            <td>
                                                <button class="btn btn-outline btn-round btn-sm purple" ng-click="editTransport(tps)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button  class="btn btn-outline btn-round dark btn-sm black" ng-click="deleteTransport(tps._id)">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>