<%- include('./header') %>
  <div class="page-brand-info">
    <div class="brand"> <img class="brand-img" src="/images/login_logo1.png" alt="..." 
      style="width: 44%;">
    </div>
  </div>
  <div class="loginColumns">
    <div>
      <h1 class="logo-name">KKB</h1>
    </div>
    <h3>Welcome to KKB</h3>
    <p>Login</p>
    <% if(locals.error) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
      <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post" action="#">
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email"  required="true">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required="true">
      </div>
      <button type="submit" class="btn red block full-width bottom15">Login</button>
    </form>
    <p class=" copyR"> <small>Neophron Technologies &copy; 2016-2017</small> </p>
  </div>
<%- include('./footer') %>